@import url(./font.css);
/* font-family: 'Noto Sans KR', sans-serif;*/

/* 크롬 스크롤바 삭제 */
::-webkit-scrollbar { display: none; }
html,body{
	margin: 0;
	padding: 0;
	font-family: Noto Sans KR;
	background-color: #f2f2f2;
}
a{
	color:black;
	text-decoration: none;
}

.Page_back{
	position:relative;
	width: 1500px;
	top: 170px;
	text-align: center;
	margin: 0 auto;
}
.Login_title{
	font-family: fluttershy;
	font-size: 50px;
	margin-bottom: 54px;
}
input[type="text"],input[type="password"],input[type="submit"]{
	width: 398px;
	height: 55px;
}
input[type="submit"]{
	margin-top: 36px;
	background-color:black;
	color: white;
}
.Login_form{
	margin-bottom: 300px;
}

/* 마이페이지 */

